@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@theme inline {
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--inter);
  --color-background: var(--background-1);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);
  --color-background-4: var(--background-4);

  --color-modal: var(--modal);
  --color-floated: var(--floated);

  --color-border: var(--neutral-a5);
  --color-ring: var(--blue-9);

  --color-foreground: var(--neutral-12);
  --color-muted-foreground: var(--neutral-11);

  --color-sidebar: var(--background-1);
  --color-sidebar-ring: var(--blue-9);
  --color-sidebar-border: var(--neutral-a5);
  --color-sidebar-accent-foreground: var(--neutral-12);
  --color-sidebar-accent: var(--neutral-a4);
  --color-sidebar-primary-foreground: var(--neutral-12);
  --color-sidebar-primary: var(--neutral-a3);
  --color-sidebar-foreground: var(--neutral-12);

  --color-primary-1: var(--purple-1);
  --color-primary-2: var(--purple-2);
  --color-primary-3: var(--purple-3);
  --color-primary-4: var(--purple-4);
  --color-primary-5: var(--purple-5);
  --color-primary-6: var(--purple-6);
  --color-primary-7: var(--purple-7);
  --color-primary-8: var(--purple-8);
  --color-primary-9: var(--purple-9);
  --color-primary-10: var(--purple-10);
  --color-primary-11: var(--purple-11);
  --color-primary-12: var(--purple-12);

  --color-primary-a1: var(--purple-a1);
  --color-primary-a2: var(--purple-a2);
  --color-primary-a3: var(--purple-a3);
  --color-primary-a4: var(--purple-a4);
  --color-primary-a5: var(--purple-a5);
  --color-primary-a6: var(--purple-a6);
  --color-primary-a7: var(--purple-a7);
  --color-primary-a8: var(--purple-a8);
  --color-primary-a9: var(--purple-a9);
  --color-primary-a10: var(--purple-a10);
  --color-primary-a11: var(--purple-a11);
  --color-primary-a12: var(--purple-a12);

  --color-accent-1: var(--blue-1);
  --color-accent-2: var(--blue-2);
  --color-accent-3: var(--blue-3);
  --color-accent-4: var(--blue-4);
  --color-accent-5: var(--blue-5);
  --color-accent-6: var(--blue-6);
  --color-accent-7: var(--blue-7);
  --color-accent-8: var(--blue-8);
  --color-accent-9: var(--blue-9);
  --color-accent-10: var(--blue-10);
  --color-accent-11: var(--blue-11);
  --color-accent-12: var(--blue-12);

  --color-accent-a1: var(--blue-a1);
  --color-accent-a2: var(--blue-a2);
  --color-accent-a3: var(--blue-a3);
  --color-accent-a4: var(--blue-a4);
  --color-accent-a5: var(--blue-a5);
  --color-accent-a6: var(--blue-a6);
  --color-accent-a7: var(--blue-a7);
  --color-accent-a8: var(--blue-a8);
  --color-accent-a9: var(--blue-a9);
  --color-accent-a10: var(--blue-a10);
  --color-accent-a11: var(--blue-a11);
  --color-accent-a12: var(--blue-a12);

  --color-neutral-1: var(--neutral-1);
  --color-neutral-2: var(--neutral-2);
  --color-neutral-3: var(--neutral-3);
  --color-neutral-4: var(--neutral-4);
  --color-neutral-5: var(--neutral-5);
  --color-neutral-6: var(--neutral-6);
  --color-neutral-7: var(--neutral-7);
  --color-neutral-8: var(--neutral-8);
  --color-neutral-9: var(--neutral-9);
  --color-neutral-10: var(--neutral-10);
  --color-neutral-11: var(--neutral-11);
  --color-neutral-12: var(--neutral-12);

  --color-neutral-a1: var(--neutral-a1);
  --color-neutral-a2: var(--neutral-a2);
  --color-neutral-a3: var(--neutral-a3);
  --color-neutral-a4: var(--neutral-a4);
  --color-neutral-a5: var(--neutral-a5);
  --color-neutral-a6: var(--neutral-a6);
  --color-neutral-a7: var(--neutral-a7);
  --color-neutral-a8: var(--neutral-a8);
  --color-neutral-a9: var(--neutral-a9);
  --color-neutral-a10: var(--neutral-a10);
  --color-neutral-a11: var(--neutral-a11);
  --color-neutral-a12: var(--neutral-a12);

  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-5: var(--red-5);
  --color-red-6: var(--red-6);
  --color-red-7: var(--red-7);
  --color-red-8: var(--red-8);
  --color-red-9: var(--red-9);
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);
  --color-red-12: var(--red-12);

  --color-red-a1: var(--red-a1);
  --color-red-a2: var(--red-a2);
  --color-red-a3: var(--red-a3);
  --color-red-a4: var(--red-a4);
  --color-red-a5: var(--red-a5);
  --color-red-a6: var(--red-a6);
  --color-red-a7: var(--red-a7);
  --color-red-a8: var(--red-a8);
  --color-red-a9: var(--red-a9);
  --color-red-a10: var(--red-a10);
  --color-red-a11: var(--red-a11);
  --color-red-a12: var(--red-a12);

  --color-yellow-1: var(--yellow-1);
  --color-yellow-2: var(--yellow-2);
  --color-yellow-3: var(--yellow-3);
  --color-yellow-4: var(--yellow-4);
  --color-yellow-5: var(--yellow-5);
  --color-yellow-6: var(--yellow-6);
  --color-yellow-7: var(--yellow-7);
  --color-yellow-8: var(--yellow-8);
  --color-yellow-9: var(--yellow-9);
  --color-yellow-10: var(--yellow-10);
  --color-yellow-11: var(--yellow-11);
  --color-yellow-12: var(--yellow-12);

  --color-yellow-a1: var(--yellow-a1);
  --color-yellow-a2: var(--yellow-a2);
  --color-yellow-a3: var(--yellow-a3);
  --color-yellow-a4: var(--yellow-a4);
  --color-yellow-a5: var(--yellow-a5);
  --color-yellow-a6: var(--yellow-a6);
  --color-yellow-a7: var(--yellow-a7);
  --color-yellow-a8: var(--yellow-a8);
  --color-yellow-a9: var(--yellow-a9);
  --color-yellow-a10: var(--yellow-a10);
  --color-yellow-a11: var(--yellow-a11);
  --color-yellow-a12: var(--yellow-a12);

  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-blue-3: var(--blue-3);
  --color-blue-4: var(--blue-4);
  --color-blue-5: var(--blue-5);
  --color-blue-6: var(--blue-6);
  --color-blue-7: var(--blue-7);
  --color-blue-8: var(--blue-8);
  --color-blue-9: var(--blue-9);
  --color-blue-10: var(--blue-10);
  --color-blue-11: var(--blue-11);
  --color-blue-12: var(--blue-12);

  --color-blue-a1: var(--blue-a1);
  --color-blue-a2: var(--blue-a2);
  --color-blue-a3: var(--blue-a3);
  --color-blue-a4: var(--blue-a4);
  --color-blue-a5: var(--blue-a5);
  --color-blue-a6: var(--blue-a6);
  --color-blue-a7: var(--blue-a7);
  --color-blue-a8: var(--blue-a8);
  --color-blue-a9: var(--blue-a9);
  --color-blue-a10: var(--blue-a10);
  --color-blue-a11: var(--blue-a11);
  --color-blue-a12: var(--blue-a12);

  --color-green-1: var(--green-1);
  --color-green-2: var(--green-2);
  --color-green-3: var(--green-3);
  --color-green-4: var(--green-4);
  --color-green-5: var(--green-5);
  --color-green-6: var(--green-6);
  --color-green-7: var(--green-7);
  --color-green-8: var(--green-8);
  --color-green-9: var(--green-9);
  --color-green-10: var(--green-10);
  --color-green-11: var(--green-11);
  --color-green-12: var(--green-12);

  --color-green-a1: var(--green-a1);
  --color-green-a2: var(--green-a2);
  --color-green-a3: var(--green-a3);
  --color-green-a4: var(--green-a4);
  --color-green-a5: var(--green-a5);
  --color-green-a6: var(--green-a6);
  --color-green-a7: var(--green-a7);
  --color-green-a8: var(--green-a8);
  --color-green-a9: var(--green-a9);
  --color-green-a10: var(--green-a10);
  --color-green-a11: var(--green-a11);
  --color-green-a12: var(--green-a12);

  --color-purple-1: var(--purple-1);
  --color-purple-2: var(--purple-2);
  --color-purple-3: var(--purple-3);
  --color-purple-4: var(--purple-4);
  --color-purple-5: var(--purple-5);
  --color-purple-6: var(--purple-6);
  --color-purple-7: var(--purple-7);
  --color-purple-9: var(--purple-9);
  --color-purple-10: var(--purple-10);
  --color-purple-11: var(--purple-11);
  --color-purple-12: var(--purple-12);

  --color-purple-a1: var(--purple-a1);
  --color-purple-a2: var(--purple-a2);
  --color-purple-a3: var(--purple-a3);
  --color-purple-a4: var(--purple-a4);
  --color-purple-a5: var(--purple-a5);
  --color-purple-a6: var(--purple-a6);
  --color-purple-a7: var(--purple-a7);
  --color-purple-a9: var(--purple-a9);
  --color-purple-a10: var(--purple-a10);
  --color-purple-a11: var(--purple-a11);
  --color-purple-a12: var(--purple-a12);

  --color-beige-1: var(--beige-1);
  --color-beige-2: var(--beige-2);
  --color-beige-3: var(--beige-3);
  --color-beige-4: var(--beige-4);
  --color-beige-5: var(--beige-5);
  --color-beige-6: var(--beige-6);
  --color-beige-7: var(--beige-7);
  --color-beige-9: var(--beige-9);
  --color-beige-10: var(--beige-10);
  --color-beige-11: var(--beige-11);
  --color-beige-12: var(--beige-12);

  --color-beige-a1: var(--beige-a1);
  --color-beige-a2: var(--beige-a2);
  --color-beige-a3: var(--beige-a3);
  --color-beige-a4: var(--beige-a4);
  --color-beige-a5: var(--beige-a5);
  --color-beige-a6: var(--beige-a6);
  --color-beige-a7: var(--beige-a7);
  --color-beige-a9: var(--beige-a9);
  --color-beige-a10: var(--beige-a10);
  --color-beige-a11: var(--beige-a11);
  --color-beige-a12: var(--beige-a12);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);

  --shadow-fancy: var(--shadow-fancy);

  --tracking-tight: -0.01em;
}

:root {
  --radius: 0.72rem;

  --background-1: oklch(100% 0 0);
  --background-2: oklch(98.21% 0.0046 262.46);
  --background-3: oklch(100% 0 0);
  --background-4: oklch(98.21% 0.0046 262.46);

  --modal: oklch(100% 0 0);
  --floated: oklch(100% 0 0);

  --neutral-1: oklch(100% 0 0);
  --neutral-2: oklch(0.974 0.004 286.33);
  --neutral-3: oklch(0.9668 0.0058 264.53);
  --neutral-4: oklch(0.9498 0.0068 277.16);
  --neutral-5: oklch(0.9099 0.0084 271.32);
  --neutral-6: oklch(0.8878 0.0088 264.52);
  --neutral-7: oklch(0.8538 0.0119 264.5);
  --neutral-8: oklch(0.7943 0.0152 264.48);
  --neutral-9: oklch(0.6463 0.0142 266.65);
  --neutral-10: oklch(0.6099 0.0158 268.4);
  --neutral-11: oklch(0.5025 0.0136 264.44);
  --neutral-12: oklch(0.2398 0.0119 270.88);

  --neutral-a1: oklch(100% 0 0);
  --neutral-a2: oklch(0.2032 0.1408 264.05 / 3%);
  --neutral-a3: oklch(0.298 0.1329 261.49 / 5%);
  --neutral-a4: oklch(0.221 0.1177 263.49 / 7%);
  --neutral-a5: oklch(0.2009 0.0947 262.24 / 12.55%);
  --neutral-a6: oklch(0.2038 0.0795 259.13 / 15.69%);
  --neutral-a7: oklch(0.2048 0.0811 259.42 / 20.39%);
  --neutral-a8: oklch(0.1944 0.0761 259.2 / 28.24%);
  --neutral-a9: oklch(0.1428 0.0482 255.68 / 45.88%);
  --neutral-a10: oklch(0.1384 0.0482 256.53 / 50.2%);
  --neutral-a11: oklch(0.1266 0.0358 249.94 / 62.35%);
  --neutral-a12: oklch(0.0865 0.0292 255.69 / 88.63%);

  --blue-1: oklch(0.9939 0.002854 264.5);
  --blue-2: oklch(0.9808 0.0091 258.34);
  --blue-3: oklch(0.9602 0.019355 252.8775);
  --blue-4: oklch(0.9328 0.0333 250.99);
  --blue-5: oklch(0.9002 0.0498 252.09);
  --blue-6: oklch(0.8599 0.0703 254.48);
  --blue-7: oklch(0.8045 0.0989 258.48);
  --blue-8: oklch(0.7307 0.1399 259.24);
  --blue-9: oklch(0.573 0.23507 260.1068);
  --blue-10: oklch(0.5299 0.228 260.93);
  --blue-11: oklch(0.5418 0.2295 260.67);
  --blue-12: oklch(0.3193 0.1175 260.38);

  --blue-a1: oklch(0.5332 0.2596 262.64 / 1.18%);
  --blue-a2: oklch(0.5635 0.2408 260.82 / 3.92%);
  --blue-a3: oklch(0.5906 0.224657 258.6008 / 8.63%);
  --blue-a4: oklch(0.6007 0.218867 257.6301 / 14.9%);
  --blue-a5: oklch(0.5967 0.2212 258.03 / 21.96%);
  --blue-a6: oklch(0.5847 0.2281 259.14 / 30.2%);
  --blue-a7: oklch(0.5635 0.2408 260.82 / 40.39%);
  --blue-a8: oklch(0.5579 0.244215 261.2038 / 55.69%);
  --blue-a9: oklch(0.573 0.23507 260.1068);
  --blue-a10: oklch(0.5299 0.228 260.93);
  --blue-a11: oklch(0.5418 0.2295 260.67);
  --blue-a12: oklch(0.2962 0.1217 260.13 / 96.86%);

  --green-1: oklch(0.9932 0.0058 153.78);
  --green-2: oklch(0.9812 0.0108 149.86);
  --green-3: oklch(0.9622 0.0277 147.03);
  --green-4: oklch(0.9347 0.0438 147.29);
  --green-5: oklch(0.9005 0.0618 147.19);
  --green-6: oklch(0.8579 0.085 146.78);
  --green-7: oklch(0.7981 0.112 147.24);
  --green-8: oklch(0.7163 0.1557 147.12);
  --green-9: oklch(0.6459 0.175 147.18);
  --green-10: oklch(0.6045 0.168 147.21);
  --green-11: oklch(0.5261 0.1545 147.12);
  --green-12: oklch(0.3264 0.0626 147.33);

  --green-a1: oklch(0.7342 0.2341 144.54 / 1.96%);
  --green-a2: oklch(0.6206 0.204953 143.4133 / 4.31%);
  --green-a3: oklch(0.6701 0.226 142.76 / 9.41%);
  --green-a4: oklch(0.6481 0.217966 142.8474 / 15.63%);
  --green-a5: oklch(0.6259 0.2101 142.86 / 23.14%);
  --green-a6: oklch(0.6118 0.2053 142.91 / 32.55%);
  --green-a7: oklch(0.5951 0.198 143.18 / 45.49%);
  --green-a8: oklch(0.6011 0.197063 143.6422 / 66.27%);
  --green-a9: oklch(0.5934 0.1879 144.77 / 84.31%);
  --green-a10: oklch(0.5622 0.1758 145.19 / 88.63%);
  --green-a11: oklch(0.5195 0.154993 146.8614);
  --green-a12: oklch(0.2302 0.0699 146.24 / 89%);

  --red-1: oklch(0.9934 0.0032 17.21);
  --red-2: oklch(0.982 0.0087 26.02);
  --red-3: oklch(0.9533 0.0231 24.13);
  --red-4: oklch(0.9161 0.0429 25.05);
  --red-5: oklch(0.8824 0.062 23.31);
  --red-6: oklch(0.8453 0.0845 23.47);
  --red-7: oklch(0.8023 0.112752 23.1813);
  --red-8: oklch(0.7449 0.148 22.74);
  --red-9: oklch(0.6253 0.2524 23.07);
  --red-10: oklch(0.5959 0.2417 25.26);
  --red-11: oklch(0.5691 0.230889 25.2815);
  --red-12: oklch(0.3437 0.139058 24.191);

  --red-a1: oklch(0.628 0.2577 29.23 / 1.18%);
  --red-a2: oklch(0.6349 0.2511 30.47 / 3.53%);
  --red-a3: oklch(0.6328 0.253081 30.0963 / 9.02%);
  --red-a4: oklch(0.6335 0.2525 30.21 / 16.47%);
  --red-a5: oklch(0.6314 0.2544 29.84 / 22.75%);
  --red-a6: oklch(0.6311 0.254651 29.7971 / 30.2%);
  --red-a7: oklch(0.6303 0.2555 29.64 / 38.82%);
  --red-a8: oklch(0.618 0.251874 29.4588 / 49.8%);
  --red-a9: oklch(0.6253 0.2524 23.07);
  --red-a10: oklch(0.5959 0.2417 25.26);
  --red-a11: oklch(0.5691 0.230889 25.2815);
  --red-a12: oklch(0.3437 0.139058 24.191);

  --yellow-1: oklch(0.9943 0.0028 84.56);
  --yellow-2: oklch(0.9825 0.022 89.79);
  --yellow-3: oklch(0.957 0.0543 89.91);
  --yellow-4: oklch(0.9347 0.074 86.8);
  --yellow-5: oklch(0.906 0.0975 83.73);
  --yellow-6: oklch(0.8724 0.1208 79.77);
  --yellow-7: oklch(0.827 0.1226 75.92);
  --yellow-8: oklch(0.7599 0.1413 75.83);
  --yellow-9: oklch(0.8509 0.1486 81.33);
  --yellow-10: oklch(0.8239 0.1669 78.64);
  --yellow-11: oklch(0.5721 0.123486 70.5853);
  --yellow-12: oklch(0.3539 0.0484 76.26);

  --yellow-a1: oklch(0.6496 0.137666 74.0114 / 1.57%);
  --yellow-a2: oklch(0.8309 0.171389 81.5486 / 8.63%);
  --yellow-a3: oklch(0.8309 0.171389 81.5486 / 21.57%);
  --yellow-a4: oklch(0.8142 0.1704 76.91 / 30.59%);
  --yellow-a5: oklch(0.8016 0.1704 73.24 / 41.96%);
  --yellow-a6: oklch(0.7874 0.1715 69.12 / 54.51%);
  --yellow-a7: oklch(0.7324 0.164077 65.1825 / 60.39%);
  --yellow-a8: oklch(0.7036 0.1543 68.09 / 78.82%);
  --yellow-a9: oklch(0.8016 0.1705 73.27 / 70.59%);
  --yellow-a10: oklch(0.8088 0.170358 75.3501 / 89.8%);
  --yellow-a11: oklch(0.5721 0.123486 70.5853);
  --yellow-a12: oklch(0.2587 0.0547 74.44 / 88.63%);

  --purple-1: oklch(0.9927 0.0041 301.43);
  --purple-2: oklch(0.9826 0.0095 299.24);
  --purple-3: oklch(0.9579 0.0232 299.37);
  --purple-4: oklch(0.9294 0.0403 301.3);
  --purple-5: oklch(0.8975 0.0587 300.44);
  --purple-6: oklch(0.8556 0.0832 299.39);
  --purple-7: oklch(0.7997 0.1168 298.29);
  --purple-8: oklch(0.7283 0.1624 297.75);
  --purple-9: oklch(0.5918 0.2547 296.43);
  --purple-10: oklch(0.5491 0.2451 296.6);
  --purple-11: oklch(0.5136 0.2392 296.4);
  --purple-12: oklch(0.3206 0.1504 296.84);

  --purple-a1: oklch(0.489 0.295951 279.9372 / 1.18%);
  --purple-a2: oklch(0.4799 0.2984 276.34 / 2.75%);
  --purple-a3: oklch(0.4813 0.2979 276.92 / 6.67%);
  --purple-a4: oklch(0.4914 0.2954 280.87 / 11.37%);
  --purple-a5: oklch(0.489 0.295951 279.9372 / 16.47%);
  --purple-a6: oklch(0.4876 0.2961 279.31 / 23.14%);
  --purple-a7: oklch(0.4858 0.2967 278.71 / 32.16%);
  --purple-a8: oklch(0.4898 0.295776 280.2478 / 44.31%);
  --purple-a9: oklch(0.5067 0.2934 286.36 / 72.55%);
  --purple-a10: oklch(0.4706 0.270269 287.636 / 77.25%);
  --purple-a11: oklch(0.4469 0.2549 288.72 / 81.57%);
  --purple-a12: oklch(0.2739 0.152581 292.5951 / 92.55%);

  --beige-1: oklch(0.9938 0.0013 106.42);
  --beige-2: oklch(0.9816 0.0026 106.45);
  --beige-3: oklch(0.956 0.0067 115.71);
  --beige-4: oklch(0.9303 0.0109 118.03);
  --beige-5: oklch(0.9054 0.0136 115.85);
  --beige-6: oklch(0.8768 0.019 113.38);
  --beige-7: oklch(0.84 0.0262 116.62);
  --beige-8: oklch(0.7757 0.0348 114.6);
  --beige-9: oklch(0.6392 0.0391 114.36);
  --beige-10: oklch(0.5973 0.0353 113.26);
  --beige-11: oklch(0.5022 0.0278 115.09);
  --beige-12: oklch(0.2737 0.0109 114.8);

  --beige-a1: oklch(0.4351 0.094854 109.7692 / 1.18%);
  --beige-a2: oklch(0.3596 0.0784 109.77 / 3.14%);
  --beige-a3: oklch(0.3612 0.0875 121.93 / 7.45%);
  --beige-a4: oklch(0.3587 0.0892 124.14 / 11.76%);
  --beige-a5: oklch(0.3473 0.0839 121.67 / 15.69%);
  --beige-a6: oklch(0.3647 0.0855 118.74 / 20.78%);
  --beige-a7: oklch(0.3713 0.0903 122.28 / 27.06%);
  --beige-a8: oklch(0.3638 0.086 119.56 / 37.25%);
  --beige-a9: oklch(0.2999 0.0697 117.88 / 54.51%);
  --beige-a10: oklch(0.2667 0.0613 116.59 / 58.43%);
  --beige-a11: oklch(0.2105 0.0486 117.06 / 67.06%);
  --beige-a12: oklch(0.1228 0.0277 114.52 / 86.67%);

  --shadow-fancy: 0px 24px 24px -8px rgba(46, 54, 71, 0.04),
    0px 10px 10px -5px rgba(32, 38, 50, 0.04),
    0px 5px 5px -2.5px rgba(36, 42, 56, 0.04),
    0px 3px 3px -1.5px rgba(38, 44, 57, 0.04),
    0px 2px 2px -1px rgba(31, 37, 49, 0.04),
    0px 1px 1px -0.5px rgba(35, 42, 55, 0.03),
    0px 0px 0px 1px rgba(0, 11, 54, 0.09);
}

.dark {
  --background-1: oklch(0% 0 0);
  --background-2: oklch(0.1785 0.0041 285.98);
  --background-3: oklch(0.1785 0.0041 285.98);
  --background-4: oklch(0% 0 0);

  --modal: oklch(0.2099 0.0039 286.06);
  --floated: oklch(0.2099 0.0039 286.06);

  --neutral-1: oklch(0.1541 0.0046 264.43);
  --neutral-2: oklch(0.2099 0.0039 286.06);
  --neutral-3: oklch(0.2532 0.0056 285.99);
  --neutral-4: oklch(0.2825 0.0073 285.93);
  --neutral-5: oklch(0.3141 0.009 276.85);
  --neutral-6: oklch(0.3498 0.0105 278.3);
  --neutral-7: oklch(0.4024 0.012 273.12);
  --neutral-8: oklch(0.4908 0.0161 276.79);
  --neutral-9: oklch(0.5403 0.0172 277.6);
  --neutral-10: oklch(0.5849 0.0169 277.65);
  --neutral-11: oklch(0.769 0.0142 281.49);
  --neutral-12: oklch(1 0 0);

  --neutral-a1: oklch(0.8509 0.0545 279.42 / 0.9%);
  --neutral-a2: oklch(0.9421 0.0187 9.31 / 5.49%);
  --neutral-a3: oklch(0.9566 0.0185 317.73 / 9.8%);
  --neutral-a4: oklch(0.9557 0.0235 301.96 / 12.94%);
  --neutral-a5: oklch(0.9362 0.027 283.58 / 16.86%);
  --neutral-a6: oklch(0.9406 0.0296 285.82 / 20.78%);
  --neutral-a7: oklch(0.9403 0.028657 277.2403 / 27.06%);
  --neutral-a8: oklch(0.9315 0.0301 277.59 / 38.43%);
  --neutral-a9: oklch(0.9323 0.0299 279.62 / 44.71%);
  --neutral-a10: oklch(0.943 0.0273 276.84 / 49.8%);
  --neutral-a11: oklch(0.9612 0.0174 282.54 / 72.94%);
  --neutral-a12: oklch(1 0 0);

  --blue-1: oklch(0.1418 0.0213 250.64);
  --blue-2: oklch(0.1777 0.0341 259.91);
  --blue-3: oklch(0.2572 0.0817 260.92);
  --blue-4: oklch(0.3101 0.1107 261.03);
  --blue-5: oklch(0.3574 0.1221 260.84);
  --blue-6: oklch(0.4023 0.1299 260.91);
  --blue-7: oklch(0.4482 0.142 261.18);
  --blue-8: oklch(0.5013 0.1618 260.89);
  --blue-9: oklch(0.5371 0.2252 260.9);
  --blue-10: oklch(0.4909 0.1608 260.78);
  --blue-11: oklch(0.7701 0.1181 257.75);
  --blue-12: oklch(0.9098 0.044 256.79);

  --blue-a1: oklch(0.6432 0.1914 259.95 / 7%);
  --blue-a2: oklch(0.6432 0.1914 259.95 / 12.55%);
  --blue-a3: oklch(0.5909 0.2232 261.12 / 29.02%);
  --blue-a4: oklch(0.5799 0.2301 261.33 / 40.39%);
  --blue-a5: oklch(0.5975 0.2192 260.87 / 48.24%);
  --blue-a6: oklch(0.5847 0.2281 259.14 / 55.29%);
  --blue-a7: oklch(0.6199 0.2052 261.15 / 63.53%);
  --blue-a8: oklch(0.6196 0.2054 260.99 / 74.51%);
  --blue-a9: oklch(0.566 0.2391 261.02 / 92.94%);
  --blue-a10: oklch(0.6167 0.2073 260.78 / 72.94%);
  --blue-a11: oklch(0.7701 0.1181 257.75);
  --blue-a12: oklch(0.9098 0.044 256.79);

  --green-1: oklch(0.1468 0.0123 151.42);
  --green-2: oklch(0.1804 0.0187 148.06);
  --green-3: oklch(0.2513 0.0397 145.55);
  --green-4: oklch(0.3121 0.07 146.33);
  --green-5: oklch(0.3625 0.0825 146.62);
  --green-6: oklch(0.4142 0.0961 146.7);
  --green-7: oklch(0.467 0.1117 146.3);
  --green-8: oklch(0.5234 0.1295 146.52);
  --green-9: oklch(0.6481 0.195757 146.4086);
  --green-10: oklch(0.6107 0.190796 145.2287);
  --green-11: oklch(0.7792 0.1893 146.3);
  --green-12: oklch(0.9112 0.1042 146.6);

  --green-a1: oklch(0.9158 0.1542 147.15 / 4.84%);
  --green-a2: oklch(0.9158 0.1542 147.15 / 7.84%);
  --green-a3: oklch(0.9053 0.1829 144.92 / 15.29%);
  --green-a4: oklch(0.8856 0.2277 145.63 / 22.75%);
  --green-a5: oklch(0.8867 0.2237 146.01 / 28.63%);
  --green-a6: oklch(0.8869 0.2221 146.29 / 34.9%);
  --green-a7: oklch(0.8863 0.2249 145.95 / 41.57%);
  --green-a8: oklch(0.8845 0.2278 146.31 / 49.02%);
  --green-a9: oklch(0.8702 0.2656 146.03 / 67.45%);
  --green-a10: oklch(0.869 0.274481 144.8556 / 62.35%);
  --green-a11: oklch(0.8887 0.2177 146.27 / 83.92%);
  --green-a12: oklch(0.939 0.1074 146.9 / 96.08%);

  --red-1: oklch(0.1371 0.0119 31.71);
  --red-2: oklch(0.1758 0.021 24.68);
  --red-3: oklch(0.2377 0.0657 24.85);
  --red-4: oklch(0.2816 0.1005 24.11);
  --red-5: oklch(0.3284 0.1115 24.09);
  --red-6: oklch(0.3785 0.1151 23.86);
  --red-7: oklch(0.4487 0.1243 24.14);
  --red-8: oklch(0.5417 0.1521 24.14);
  --red-9: oklch(0.5606 0.2099 24.1);
  --red-10: oklch(0.5171 0.209265 24.2719);
  --red-11: oklch(0.769 0.1363 23.96);
  --red-12: oklch(0.8991 0.0524 23.98);

  --red-a1: oklch(0.7508 0.15 26.1 / 5.28%);
  --red-a2: oklch(0.7508 0.15 26.1 / 9.8%);
  --red-a3: oklch(0.664 0.2228 26.9 / 21.96%);
  --red-a4: oklch(0.6382 0.2472 26.17 / 31.37%);
  --red-a5: oklch(0.6489 0.2369 25.39 / 38.43%);
  --red-a6: oklch(0.67 0.2173 24.71 / 45.1%);
  --red-a7: oklch(0.6893 0.2 24.64 / 55.25%);
  --red-a8: oklch(0.6908 0.1988 24.24 / 71.76%);
  --red-a9: oklch(0.6432 0.2425 24.3 / 83.14%);
  --red-a10: oklch(0.63 0.2553 24.89 / 76.86%);
  --red-a11: oklch(0.769 0.1363 23.96);
  --red-a12: oklch(0.8991 0.0524 23.98);

  --yellow-1: oklch(0.1514 0.0124 82.88);
  --yellow-2: oklch(0.1812 0.0174 79.12);
  --yellow-3: oklch(0.2426 0.0433 78.25);
  --yellow-4: oklch(0.2871 0.0623 69.63);
  --yellow-5: oklch(0.3319 0.071977 69.832);
  --yellow-6: oklch(0.3849 0.0783 76.47);
  --yellow-7: oklch(0.4529 0.0824 76.13);
  --yellow-8: oklch(0.5369 0.0983 76.24);
  --yellow-9: oklch(0.8106 0.170361 75.8706);
  --yellow-10: oklch(0.778 0.1648 74.09);
  --yellow-11: oklch(0.8382 0.158 80.23);
  --yellow-12: oklch(0.9285 0.0626 77.86);

  --yellow-a1: oklch(0.8596 0.1281 77.91 / 5.63%);
  --yellow-a2: oklch(0.8596 0.1281 77.91 / 8.63%);
  --yellow-a3: oklch(0.8058 0.1656 73.02 / 16.86%);
  --yellow-a4: oklch(0.7652 0.1752 62.57 / 24.31%);
  --yellow-a5: oklch(0.772 0.1738 64.55 / 30.2%);
  --yellow-a6: oklch(0.8035 0.1691 73.42 / 35.69%);
  --yellow-a7: oklch(0.8215 0.1568 75.07 / 43.92%);
  --yellow-a8: oklch(0.8254 0.1555 75.86 / 55.69%);
  --yellow-a9: oklch(0.8106 0.170361 75.8706);
  --yellow-a10: oklch(0.778 0.1648 74.09);
  --yellow-a11: oklch(0.8382 0.158 80.23);
  --yellow-a12: oklch(0.9285 0.0626 77.86);

  --purple-1: oklch(0.1446 0.031 299.65);
  --purple-2: oklch(0.1792 0.0465 297.57);
  --purple-3: oklch(0.2523 0.0923 296.94);
  --purple-4: oklch(0.3011 0.1265 297.05);
  --purple-5: oklch(0.3421 0.137 296.79);
  --purple-6: oklch(0.3861 0.1445 296.71);
  --purple-7: oklch(0.4462 0.1591 296.34);
  --purple-8: oklch(0.5311 0.1931 296.42);
  --purple-9: oklch(0.5918 0.2547 296.43);
  --purple-10: oklch(0.5491 0.1927 296.35);
  --purple-11: oklch(0.7756 0.1334 299.11);
  --purple-12: oklch(0.9067 0.0528 299.76);

  --purple-a1: oklch(0.6135 0.2345 294.39 / 8.23%);
  --purple-a2: oklch(0.6135 0.2345 294.39 / 13.73%);
  --purple-a3: oklch(0.5888 0.2533 294.98 / 28.24%);
  --purple-a4: oklch(0.5754 0.2648 295.73 / 39.22%);
  --purple-a5: oklch(0.5897 0.2545 295.76 / 45.86%);
  --purple-a6: oklch(0.6088 0.2418 296.18 / 52.55%);
  --purple-a7: oklch(0.6233 0.2313 296.1 / 62.75%);
  --purple-a8: oklch(0.6243 0.2314 296.45 / 80%);
  --purple-a9: oklch(0.5918 0.2547 296.43);
  --purple-a10: oklch(0.6321 0.2251 296.12 / 82.35%);
  --purple-a11: oklch(0.7756 0.1334 299.11);
  --purple-a12: oklch(0.9067 0.0528 299.76);

  --beige-1: oklch(0.0651 0.0142 109.77);
  --beige-2: oklch(0.1814 0.004 106.79);
  --beige-3: oklch(0.2378 0.0075 106.95);
  --beige-4: oklch(0.2778 0.0108 114.79);
  --beige-5: oklch(0.3137 0.0122 113.7);
  --beige-6: oklch(0.3557 0.0168 111.89);
  --beige-7: oklch(0.414 0.0227 114);
  --beige-8: oklch(0.4984 0.0294 114.76);
  --beige-9: oklch(0.6392 0.0391 114.36);
  --beige-10: oklch(0.599 0.0397 114.45);
  --beige-11: oklch(0.7823 0.0334 114.86);
  --beige-12: oklch(0.932 0.0174 113.83);

  --beige-a1: oklch(0.9927 0.0364 107.04 / 4%);
  --beige-a2: oklch(0.5693 0 0 / 7.06%);
  --beige-a3: oklch(0.9918 0.0415 107.13 / 12.16%);
  --beige-a4: oklch(0.986 0.0484 114.77 / 16.08%);
  --beige-a5: oklch(0.9873 0.0458 113.84 / 19.61%);
  --beige-a6: oklch(0.9866 0.0532 111.9 / 23.92%);
  --beige-a7: oklch(0.984 0.0597 113.54 / 30.2%);
  --beige-a8: oklch(0.983 0.0612 114.41 / 39.61%);
  --beige-a9: oklch(0.9828 0.0624 114.3 / 56.08%);
  --beige-a10: oklch(0.9819 0.0674 113.88 / 51.37%);
  --beige-a11: oklch(0.9877 0.0432 114.19 / 73.33%);
  --beige-a12: oklch(0.9947 0.0184 113.33 / 91.76%);

  --shadow-fancy: 0px 0px 0px 1px var(--neutral-4, #29292d),
    0px 0px 0px 2px #18181a;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.container {
  @apply max-w-[936px] mx-auto px-4;
}